html
    touch-action manipulation
body, ul, p, h1, h2, h3, h4, h5, h6
    margin 0
    padding 0
    font-size 100%
    font-weight normal
li
    list-style none
a
    text-decoration none
.svg-icon
    display inline-block
    width 16px
    height 16px
    color inherit
    vertical-align middle
    fill none
    stroke currentColor

.svg-fill
    fill currentColor
    stroke none

.svg-up
    transform rotate(0deg)

.svg-right
    transform rotate(90deg)

.svg-down
    transform rotate(180deg)

.svg-left
    transform rotate(-90deg)